* {
  transition: all 0.3s ease;
}


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

header {
  background: #b22222;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #b22222;
}

ul {
  list-style: none;
  padding: 0;
}

.galerie {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.galerie img {
  border-radius: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.galerie img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
